.poster_column{
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.info_column{
    margin: auto;
    margin-top: 15px;
}
.carousel{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.navbar{
    background-color: #171937;
}

body{
    color: rgb(255, 255, 255);
    background-color: #101318;
}

.home_box{
    margin: 365px 50px 100px 50px;
    text-align: center;
    background-color: #171937;
}

.movies_row{
    margin-left: 35px;
    margin-bottom:5px;
}

.movie{
    padding-left: 55px;
}


.top250_title{
    text-align: center;
    margin-bottom: 25px;
    margin-top:25px;
}
