.poster_column{
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.info_column{
    margin: auto;
    margin-top: 15px;
}
.carousel_container{
    display: flex;
    /* max-width: 300px; */
    justify-content: center;
    max-height: 220px;
    overflow: hidden;
}
.carousel{
    max-width: 320px;
    max-height: 320px;
    display: block;
}

.carousel_image{
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* max-height: 330px;   */
}
.navbar{
    background-color: #171937;
}

body{
    color: rgb(255, 255, 255);
    background-color: #101318;
    background-image: url('./components/rocky.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.home_box{
    padding: 15px 15px 15px 15px;
    margin-top: 370px;
    text-align: center;
    background-color: #171937;
    display: inline-block;  
}

.home{
    display: flex;
    justify-content: center;
}

.movies_row{
    margin-left: 35px;
    margin-bottom:5px;
}

.movie{
    padding-left: 55px;
}


.page_title{
    text-align: center;
    margin-bottom: 25px;
    margin-top:25px;
}

.google_button {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.button {
    text-align: center;
}
.minutes{
    /* text-align: end; */
    margin-top: 15px;
    font-size: 25px;
    color: white    ;
}